<script type="text/javascript">

    function sendFriendRequest(id, uiUpdateFunction){
        payload = {
            "csrfmiddlewaretoken": "{{csrf_token}}",
            "receiver_user_id": id,
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'friend:friend-request' %}",
            timeout: 5000,
            data: payload,
            success: function(data){
                console.log("SUCCESS: " + data)
                if(data['response'] == "Friend request sent."){

                }
                else if(data['response'] != null){
                    console.log("SUCCESS: " + data)
                    alert(data['response'])
                }
            },
            error: function(data){
                console.log("SUCCESS: Something went wrong" + data)
                alert("Log in to send request " + data)
            },
            complete: function(data){
                uiUpdateFunction()
            },
        })
    }

</script>