{% extends 'users/base.html' %}
{% load static %}

{% block content %}
{% include 'public_chat/snippets/socket_styles.html' %}
{% if debug %}
PUBLIC CHAT
{% endif %}
<span class="{% if not debug %} d-none {% endif %} page-number" id="id_page_number">1</span>
	<div class="container">
		<div class="card mt-3">
			<div class="card-header">
				<div class="d-flex flex-row justify-content-between">
					<h3>Public Chat</h3>
					<div class="d-flex flex-row align-items-center">
						<span class="material-icons m-auto pr-1 connected-user-count ">person_outline</span>
						<span class="m-auto connect-users" id="id_connected_users">1</span>
					</div>
				</div>
			</div>
			<div class="card-body p-1">
				<div class="d-flex flex-column">
					<div class="d-flex flex-row justify-content-center" id="id_chatroom_loading_spinner_container">
						<div class="spinner-border text-primary" id="id_chatroom_loading_spinner" role="status" style="display:none">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div class="d-flex chat-log" id="id_chat_log">
		
					</div>
					<div class="d-flex chat-message-input-container">
						<textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input"></textarea>
						<button class="btn btn-primary chat-message-submit-button">
							<span {% if user.is_authenticated %}
							id="id_chat_message_submit" 
							{% endif %} class="material-icons">send
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
			
	
	</div>
	{% include 'public_chat/snippets/sockets.html' %}
</script>
<!-- Client Error MODAL -->
<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="bs-modal" data-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Socket Client Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="id_client_error_modal_body">Something went wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Client Error MODAL -->

{% endblock %}