{% load static %}
{% include 'snippets/css/header_css.html' %}
<!-- Header -->
<div class="d-flex flex-column flex-lg-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="biggee">

	<!-- MEDIUM+ SCREENS -->
	<div class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">
		<h5 class="mr-3 font-weight-normal justify-content-start" id="homee">
			<a id="head" class="p-2 text-dark" href="/">Home</a>
		</h5>
		<h5 class="mr-3 font-weight-normal justify-content-start" id="homee">
			<a id="head" class="p-2 text-dark" href="/news">News</a>
		</h5>
		{% if is_home %}
		<form method="GET" class="search-bar justify-content-start">
			<input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
			
		</form>
		{% else %}
		<form class="search-bar justify-content-start" onsubmit="return executeQuery();">
			<input type="text" class="form-control" name="q" id="id_q_large" placeholder="Search...">
		</form>
		{% endif %}
		<div class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
				{% if request.user.is_authenticated %}
					<div class="dropdown dropleft">
						<div class="d-flex flex-row">

							<div class="btn-group dropleft">
								<div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_chat_notification_dropdown_toggle" data-toggle="dropdown">
									<span id="id_chat_notifications_count" class="notify-badge"></span>
									<span class="d-flex material-icons notifications-material-icon m-auto align-items-center">chat</span>
									<div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container">
									</div>
								</div>
							</div>

							<div class="btn-group dropleft">
								<div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_notification_dropdown_toggle" data-toggle="dropdown" onclick="setGeneralNotificationsAsRead()">
									<span id="id_general_notifications_count" class="notify-badge"></span>
									<span class="d-flex material-icons notifications-material-icon m-auto align-items-center">notifications</span>
									<div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container">					
									</div>
								</div>
							</div>

							<div class="btn-group dropleft">
								<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{request.user.profile_image.url}}" alt="codingwithmitch logo" width="40" height="40">
								<div class="dropdown-menu" aria-labelledby="id_profile_links">
									<a class="dropdown-item" href="{% url 'users:profile_view' request.user.username %}">Account</a>
									<a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
								</div>
							</div>
						</div>
						
					</div>
				{% else %}
					<a class="p-2 text-dark" href="{% url 'users:login' %}">Login</a>
					<a class="btn btn-outline-primary" href="{% url 'users:registration_view' %}">Register</a>
				{% endif %}	
			</nav>
		</div>
	</div>
	<!-- END MEDIUM+ SCREENS -->

	<!-- SMALL SCREENS -->
	<div class="d-flex d-md-none flex-column my-auto align-items-center">
		<h5 class="font-weight-normal">
		<a class="p-2 text-dark" href="/">Home</a>
		</h5>
		<form class="search-bar justify-content-start" onsubmit="return executeQuery();">
			<input type="text" class="form-control" name="q" id="id_q_small" placeholder="Search...">
		</form>
		<div class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
				{% if request.user.is_authenticated %}
				<div class="dropdown dropleft p-2 mt-2">
					<div class="d-flex flex-row">
						<div class="btn-group dropleft">
							<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{request.user.profile_image.url}}" alt="codingwithmitch logo" width="40" height="40">
							<div class="dropdown-menu" aria-labelledby="id_profile_links">
								<a class="dropdown-item" href="#">Account</a>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<a class="p-2 text-dark" href="{% url 'users:login' %}">Login</a>
				<a class="btn btn-outline-primary" href="{% url 'users:registration_view' %}">Register</a>
				{% endif %}	
			</nav>
	  	</div>
	</div>
	<!-- END SMALL SCREENS -->
</div>

<script type="text/javascript">
	setupChatDropdownHeader()
	
	function executeQuery(){
		var home = "{{is_home}}";
		var query = document.getElementById("id_q_small").value;
		if(query == ""){
			query = document.getElementById("id_q_large").value;
		}
		window.location.replace("{% url 'users:search' %}?q=" + query);
		return false
	}

	function setupChatDropdownHeader(){
		var notificationContainer = document.getElementById("id_chat_notifications_container")

		if(notificationContainer != null){
			var div = document.createElement("div")
			div.classList.add("chat-dropdown-header", "d-flex", "flex-row", "justify-content-end", "m-auto", "align-items-end")
			div.addEventListener("click", function(e){
				if("{{public_chat}}"){
					var url = "{% url 'chat:private-chatroom' %}"
				}
				else{
					var url = "{% url 'public_chat:room' %}"
				}
				
				chatRedirect(url)
			})

			span1 = document.createElement("span")
			span1.classList.add("mr-2")
			span1.innerHTML = "Go to chat"
			div.appendChild(span1)

			span2 = document.createElement("span")
			span2.classList.add("material-icons", "mr-2")
			span2.innerHTML = "open_with"
			div.appendChild(span2)

			notificationContainer.appendChild(div)
		}
	}

	function chatRedirect(url){
		window.location.href = url
	}
</script>

<!-- Include the a part of the general chat socket module -->
{% include 'snippets/general_notifications.html' %}

<!-- Snippet for the pricate chat socket notification -->
{% include 'snippets/chat_notifications.html' %}

<!-- Setup SOCKET for NOTIFICATIONS -->
<script type="text/javascript">
	// Correctly decide between ws:// and wss://
	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	// var ws_path = ws_scheme + '://' + window.location.host + ":8001/"; // PRODUCTION
	var ws_path = ws_scheme + '://' + window.location.host + "/";
	// console.log("Connecting to " + ws_path);
	var notificationSocket = new WebSocket(ws_path);

	// Handle incoming messages
	notificationSocket.onmessage = function(message) {
		var data = JSON.parse(message.data);
		console.log("Got notification websocket message. " + data.general_msg_type);
		console.log("Got notification websocket message. " + data.chat_msg_type);

		/*
			GENERAL NOTIFICATIONS
		*/
		// new 'general' notifications data payload
		if(data.general_msg_type == 0){
			handleGeneralNotificationsData(data['notifications'], data['new_page_number'])
		}

		// "General" Pagination exhausted. No more results.
		if(data.general_msg_type == 1){
			setGeneralPaginationExhausted()
		}

		// Refresh [newest_timestamp >= NOTIFICATIONS >= oldest_timestamp]
		if(data.general_msg_type == 2){
			refreshGeneralNotificationsData(data['notifications'])
		}

		if(data.general_msg_type == 3){
			handleNewGeneralNotificationsData(data['notifications'])
		}

		if(data.general_msg_type == 4){
			setUnreadGeneralNotificationsCount(data['count'])
		}

		if(data.general_msg_type == 5){
			updateGeneralNotificationDiv(data['notification'])
		}

		/*
			CHAT NOTIFICATIONS
		*/
		// new 'chat' notifications data payload
		if(data.chat_msg_type == 10){
			handleChatNotificationsData(data['notifications'], data['new_page_number'])
		}
		// "Chat" Pagination exhausted. No more results.
		if(data.chat_msg_type == 11){
			setChatPaginationExhausted()
		}
		// refreshed chat notifications
		if(data.chat_msg_type == 13){
			handleNewChatNotificationsData(data['notifications'])
		}
		if(data.chat_msg_type == 14){
			setChatNotificationsCount(data['count'])
		}
	}

	notificationSocket.onclose = function(e) {
		console.error('Notification Socket closed unexpectedly');
	};

	notificationSocket.onopen = function(e){
		console.log("Notification Socket on open: " + e)
		setupGeneralNotificationsMenu()
		getFirstGeneralNotificationsPage()
		getUnreadGeneralNotificationsCount()

		setupChatNotificationsMenu()
		getFirstChatNotificationsPage()
	}

	notificationSocket.onerror = function(e){
		console.log('Notification Socket error', e)
	}

	if (notificationSocket.readyState == WebSocket.OPEN) {
		console.log("Notification Socket OPEN complete.")
	} 
	else if (notificationSocket.readyState == WebSocket.CONNECTING){
		console.log("Notification Socket connecting..")
	}
</script>


