<script type="text/javascript">
            
  function submitForm(event, blog_id) {
    event.preventDefault(); // Prevent the default form submission

    var form = event.target.form;
    var url = "{% url 'blog:create_comment' 654546565 %}".replace("654546565", blog_id);
    var data = new FormData(form);

    // Perform the AJAX request here
    $.ajax({
      url: url,
      type: "POST",
      data: data,
      processData: false,
      contentType: false,
      success: function(response) {
        form.reset(); // Reset the form
        $("#timeline-comment"+blog_id).prepend(response); // Prepend the response to the comment section
        
      },
      error: function(xhr) {
        console.log(xhr.responseText);
      },
      complete: function() {
        // Additional actions after the AJAX request is complete
        loadComments(blog_id);
        alert('LoadComments called');

      },
    });
  }




  // Function to generate HTML for a single comment
  function generateCommentHTML(comment) {
    var commentHTML = `
      <div class="timeline-comment">
        <div class="timeline-comment-header">
          <img src="${comment.profile_image}" alt="Profile Image" />
          <p>${comment.author} <small>${comment.whenpublished}</small></p>
        </div>
        <p class="timeline-comment-text">${comment.body}</p>
      </div>
    `;
    return commentHTML;
  }

  // Function to append a new comment to the comment section
  function appendCommentToSection(comment, blog_id) {
    var commentSection = document.getElementById("comment-section"+blog_id);
    commentSection.innerHTML = "";
    var commentHTML = generateCommentHTML(comment);
    commentSection.insertAdjacentHTML("beforeend", commentHTML);
    alert('appendCalled!'+blog_id);
  }

  // Function to load comments via AJAX
  function loadComments(blog_id) {
    // Make an AJAX request to the Django view URL
    alert('loadComment Exec!')
    $.ajax({
      url: "{% url 'blog:comments' 2476568 %}".replace("2476568", blog_id),
      type: "GET",
      success: function(response) {
        // Parse the response as JSON
        var comments = JSON.parse(response);
        alert("Parsed without error!")
        // Iterate through the comments and append them to the comment section
        comments.forEach(function(comment, blog_id) {
          appendCommentToSection(comment, blog_id);
          alert('Append passed!');
        });
      },
      error: function(xhr) {
        console.log(xhr.responseText);
      }
    });
  }


</script>
