<script type="text/javascript">
            
  function submitForm(event, blog_id) {
    event.preventDefault(); // Prevent the default form submission

    var form = event.target.form;
    var url = "{% url 'blog:create_comment' 654546565 %}".replace("654546565", blog_id);
    var data = new FormData(form);

    // Perform the AJAX request here
    $.ajax({
      url: url,
      type: "POST",
      data: data,
      processData: false,
      contentType: false,
      success: function(response) {
        form.reset(); // Reset the form
        $("#timeline-comment"+blog_id).prepend(response); // Prepend the response to the comment section
        
      },
      error: function(xhr) {
        console.log(xhr.responseText);
      },
      complete: function() {
        // Additional actions after the AJAX request is complete
        loadComments(blog_id);

      },
    });
  }




  // Function to generate HTML for a single comment
  function generateCommentHTML(comments) {
    var commentHTML = `
      <div class="timeline-comment">
        <div class="timeline-comment-header">
          <img src="${comments.profile_image}" alt="Profile Image" />
          <p>${comments.author} <small>${comments.whenpublished}</small></p>
        </div>
        <p class="timeline-comment-text">${comments.body}</p>
      </div>
    `;
    return commentHTML;
  }

  // Function to append a new comment to the comment section
  function appendCommentToSection(comments) {
    var commentSection = document.getElementById("comment-section"+comments.blog_id);
    if(commentSection === null){
      // location.reload()
         var commentSection = document.createElement("div");
        commentSection.id = "comment-section"+comments.blog_id;
        var parent = document.getElementsByClassName("timeline-item-post"+comments.blog_id)[0];
        parent.insertAdjacentElement("beforeend", commentSection);
      };
      
    var commentHTML = generateCommentHTML(comments);
    commentSection.insertAdjacentHTML("beforeend", commentHTML);
    
  }

  // Function to load comments via AJAX
  function loadComments(blog_id) {
    // Make an AJAX request to the Django view URL
    $.ajax({
      url: "{% url 'blog:comments' 2476568 %}".replace("2476568", blog_id),
      type: "GET",
      success: function(response) {
        var comments = response
        // Iterate through the comments and append them to the comment section
        appendCommentToSection(comments)
      },
      error: function(xhr) {
        console.log(xhr.responseText);
      }
    });
  }


</script>
