<div class="d-flex flex-row commentz" id="likesarea{{ forloop.counter0 }}">
    
        <a href="#" hx-post="{% url 'blog:like' blog_post.id %}"
          hx-target="#likesarea{{ forloop.counter0 }}" hx-swap="outerHTML" >
          {% if request.user in blog_post.likes.all %}
          <i class="fa fa-thumbs-up" style="color: rgb(86, 86, 231)"></i> <span class="w3-badge w3-blue" id="likeez">{{ blog_post.likes.count }}
          {% else %}
          <i class="fa fa-thumbs-up" style="color: grey"></i> <span class="w3-badge w3-grey" id="likeez">{{ blog_post.likes.count }}
          {% endif %}
        </a>
        <div class="d-flex flex-row smallie">
          <i class="fa fa-comments"></i> <span class="w3-badge w3-grey">{{ blog_post.comment.count }}
        </div>
    
</div>
