<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
		width: 100%;
	}
	a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
    }
</style>
{% if blog_post %}
<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<a href="{% url 'blog:detail' post.slug %}">
				<img class="card-img-top" src="{{blog_post.image.url}}">
			</a>
			
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'blog:detail' post.slug %}">
					<h2 class="card-title">{{blog_post.title}}</h2>
				</a>
				<p class="card-text">{{blog_post.body|truncatechars:250}}</p>
				<span><i class="fa fa-thumbs-up"></i> <span style="display:inline-block" class="w3-badge w3-green">{{ blog_post.likes.count }}</span></span>
				<span>&emsp; <i class="fa fa-comments"></i><span style="display:inline-block" class="w3-badge w3-blue">{{ blog_post.comment.count }}</span></span>
				{% if blog_post.author == request.user %}
					<a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
				{% endif %}
				
			</div>
			<div class="card-footer text-muted">
			  Updated {{blog_post.whenpublished}} by <a href="{% url 'users:profile_view' blog_post.author.username %}" >{{blog_post.author.username}}</a>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">
					No Results
				</h2>
				<p class="card-text">There were no results matching your search: "{{query}}"</p>
			</div>
		</div>
	</div>
</div>


{% endif %}
