    
function preloadCallback(src, elementId){
    var img = document.getElementById(elementId)
    img.src = src
}

function preloadImage(imgSrc, elementId){
var objImagePreloader = new Image()
objImagePreloader.src = imgSrc

if(objImagePreloader.complete){
    preloadCallback(objImagePreloader.src, elementId)
    objImagePreloader.onload = function(){};
}
else{
    objImagePreloader.onload = function(){
        preloadCallback(objImagePreloader.src, elementId)
        // clear onload, IE behaves irratically with animated gifs otherwise
        objImagePreloader.onload = function(){}
    }
}
}

function validateText(str){
    // Actual default values
    var md = window.markdownit({
        highlight: function (str, lang) {
            if (lang && hljs.getLanguage(lang)) {
            try {
                return '<pre class="hljs"><code>' +
                    hljs.highlight(str, { language: lang, ignoreIllegals: true }).value +
                    '</code></pre>';
            } catch (__) {}
            }

            return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
        },
        linkify: true,
    });
    var result = md.render(str);
    return result
}
