{% extends 'users/base.html' %}

{% block content %}

<style type="text/css">
    .create-form {
          width: 100%;
          max-width: 100%;
          padding: 15px;
          margin: auto;
        }
        
    #id_body{
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
        .submit-button{
            max-width: 200px;
        }
  </style>
  
  <div class="container">
      <div class="row">
          <div class="col-lg-7 offset-lg-1">
            {% if success_message %}
                 <h3 style="color:green; text-align: center;">{{success_message}}</h3>
             {% endif %}
              <form class="create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}  
                  <!-- Body -->
                  <div class="form-group">
                      <label for="id_body">Body:</label>
                      <textarea class="form-control" rows="10" type="text" name="body" id="id_body" placeholder="This blog is about..." required></textarea>
                  </div>
  
                  <!-- Submit btn -->
                  <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Create</button>
              </form>	
          </div>
      </div>
  </div>

{% endblock %}
