<style type="text/css" >

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }
    
    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }
    
    .profile-button:hover {
        background: #682773
    }
    
    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }
    
    .profile-button:active {
        background: #682773;
        box-shadow: none
    }
    
    .back:hover {
        color: #682773;
        cursor: pointer
    }
    .submit-button{
               max-width: 200px;
           }
     
         .image {
           opacity: 1;
           transition: .5s ease;
           backface-visibility: hidden;
         }
     
         .middle {
           transition: .5s ease;
           opacity: 0;
           position: absolute;
           text-align: center;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
         
         }
         .image-group{
             position: relative;
               text-align: center;
               cursor:pointer;
         }
     
         .image-group:hover .image {
           opacity: 0.3;
         }
     
         .image-group:hover .middle {
           opacity: 1;
         }
    
    .labels {
        font-size: 11px
    }
    
    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
    .text {
           margin: auto;
           background-color: #4CAF50;
           color: white;
           font-size: 15px;
           padding: 15px;
         }
      </style>