<style type="text/css">
    body {
        background:#eee;
        margin-top: 20px;
    }
    .page-inner.no-page-title {
        padding-top: 30px;
    }
    .page-inner {
        position: relative;
        min-height: calc(100% - 56px);
        padding: 20px 30px 40px 30px;
        background: #f3f4f7;
    }
    .card.card-white {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
        padding: 25px;
    }
    .grid-margin {
        margin-bottom: 2rem;
    }
    .profile-timeline ul li .timeline-item-header {
        width: 100%;
        overflow: hidden;
    }
    .profile-timeline ul li .timeline-item-header img {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;
        border-radius: 50%;
    }
    .profile-timeline ul li .timeline-item-header p {
        margin: 0;
        color: #000;
        font-weight: 500;
    }
    .profile-timeline ul li .timeline-item-header p span {
        margin: 0;
        color: #8e8e8e;
        font-weight: normal;
    }
    .profile-timeline ul li .timeline-item-header small {
        margin: 0;
        color: #8e8e8e;
    }
    .profile-timeline ul li .timeline-item-post {
        padding: 20px 0 0 0;
        position: relative;
    }
    .profile-timeline ul li .timeline-item-post > img {
        width: 100%;
    }
    .timeline-options {
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f1f1f1;
        padding: 10px 0 10px 0;
    }
    .timeline-options a {
        display: block;
        margin-right: 20px;
        float: left;
        color: #2b2b2b;
        text-decoration: none;
    }
    .timeline-options a i {
        margin-right: 3px;
    }
    .timeline-options a:hover {
        color: #5369f8;
    }
    .timeline-comment {
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 5px;
    }
    .timeline-comment .timeline-comment-header {
        overflow: hidden;
    }
    .timeline-comment .timeline-comment-header img {
        width: 30px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }
    .timeline-comment .timeline-comment-header p {
        color: #000;
        float: left;
        margin: 0;
        font-weight: 500;
    }
    .timeline-comment .timeline-comment-header small {
        font-weight: normal;
        color: #8e8e8e;
    }
    .timeline-comment p.timeline-comment-text {
        display: block;
        color: #2b2b2b;
        font-size: 14px;
        padding-left: 40px;
    }
    .post-options {
        overflow: hidden;
        margin-top: 15px;
        margin-left: 15px;
    }
    .post-options a {
        display: block;
        margin-top: 5px;
        margin-right: 20px;
        float: left;
        color: #2b2b2b;
        text-decoration: none;
        font-size: 16px !important;
    }
    .post-options a:hover {
        color: #5369f8;
    }
    #postee{
        float:right;
    }
    .decline-friend-request:hover{
        cursor: pointer;
        color: #ec5e69;
    }
    .confirm-friend-request:hover{
        cursor: pointer;
        color: green;
    }
    .online {
        position: absolute;
        top: 2px;
        right: 2px;
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #ccc;
    }
    .online.on {
        background: #2ec5d3;
    }
    .online.off {
        background: #ec5e69;
    }
    #cd-timeline::before {
        border: 0;
        background: #f1f1f1;
    }
    .cd-timeline-content p,
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
    }
    .cd-timeline-img.cd-success {
        background: #2ec5d3;
    }
    .cd-timeline-img.cd-danger {
        background: #ec5e69;
    }
    .cd-timeline-img.cd-info {
        background: #5893df;
    }
    .cd-timeline-img.cd-warning {
        background: #f1c205;
    }
    .cd-timeline-img.cd-primary {
        background: #9f7ce1;
    }
    .page-inner.full-page {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .user-profile-card {
        text-align: center;
    }
    .user-profile-image {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    .team .team-member {
        display: block;
        overflow: hidden;
        margin-bottom: 10px;
        float: left;
        position: relative;
    }
    .team .team-member .online {
        top: 5px;
        right: 5px;
    }
    .team .team-member img {
        width: 40px;
        float: left;
        border-radius: 50%;
        margin: 0 5px 0 5px;
    }
    .label.label-success {
        background: #43d39e;
    }
    .label {
        font-weight: 400;
        padding: 4px 8px;
        font-size: 11px;
        display: inline-block;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25em;
    }
    a{
        text-decoration: none;
    }
    h4{
        text-align: center;
    }
    #requestss{
        border: solid;
        border-radius: 50%;
    }
    #requests{
        border-radius: 20%;
    }
</style>