{% load static %}
<!DOCTYPE html>

<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js" integrity="sha512-SYfDUYPg5xspsG6OOpXU366G8SZsdHOhqk/icdrYJ2E/WKZxPxze7d2HD3AyXpT7U22PZ5y74xRpqZ6A2bJ+kQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/css.min.js" integrity="sha512-xR3r57wYgwm5sn+JFRs5G8aNXMYSdxRGGrs1slFiVtREckY/+aBUNrhkn/4XpbTLke39koHzUIcotRI4Ka0Bpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python.min.js" integrity="sha512-YulS+eyi43Y7kdDoXxhCnsH8OlBesGO1kJ31qeCLSYkhB0X0/onxXa5xEe6FK71WGx6eQlAEaeTdwbGdtOU7Zw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <!---- Include the above in your HEAD tag ------>


<html lang="en">
    <head>
      
      <title>Doxie</title>
  
    </head>
    
  <body>
    
    {% include 'snippets/header.html' %}
    {% include 'snippets/base_js.html' %}
        <!-- Body -->
        <style type="text/css">
    body{
        background-color: #f2f2f2;
         }
          #main{
            min-height: 100vh;
            height: 100%;
          }
        </style>
      <div id="main">
      {% block content %}

      {% endblock content %}
      </div>
      
      {% include 'snippets/footer.html' %}

        <!-- End Body -->
      
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script>hljs.highlightAll();</script>
</body>

  
</html>
