{% extends 'users/base.html' %}


{% block content %}

{% include 'snippets/css/login_css.html' %}

    <section>
      <div class="form-box">
        <div class="form-value">
          <form method="POST">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="inputbox">
              <input type="email", name='email', required>
              <label for="">Email</label>
            </div>
            <div class="inputbox">
              <input type="password", name='password', required>
              <label for="">Password</label>
            </div>
            <button>Log in</button>
            <div class="register">
              <p>Don't have an account? <a href="#">Register</a></p>
            </div>
            <div class="forgot">
              <label for=""><a class="m-auto" href="{% url 'password_reset' %}">Forgot Password?</a></label>
            </div>
          </form>
          {% for field in form %}
          <p>
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
          </p>
        {% endfor %}
        {% if form.non_field_errors %}
          <p style="color: red;">{{form.non_field_errors}}</p>
        {% endif %}
        </div>
      </div>
     
    
    </section>
    <!-- Remember to include ionicons /esn.js & ionicons.js-->
  
  {% endblock %}
  